@use './variables.scss' as vars;

.App {
  text-align: center;
  &-logo {
    height: 40vmin;
    pointer-events: none;
  }
  &-header {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
  }
}

.weatherInfoTab {
  height: 80%;
  width: 100%;
  box-shadow: vars.$main_boxshadow;
}

.weatherInfoTab__outputTab-general {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.weatherInfoTab__outputTab-secondary {
  justify-content: center;
  box-shadow: vars.$main_boxshadow;
  flex-direction: column;
  height: 100%;
  width: 100%;
  animation: outputTabAppearing 1s;
  -webkit-animation: outputTabAppearing 1s;
  align-items: center;
  text-align: center;
  display: flex;
}

.weatherInfoTab__ouputTab-text {
  margin: 10px;
  font-size: 1.2rem;
}
.weatherInfoTab__errorTab {
  display: flex;
  flex-direction: column;
  height: 80%;
  width: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
  box-shadow: vars.$main_boxshadow;

  .errorTab_message {
    margin: 20px;
  }
}
