@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Montserrat&family=Roboto:wght@300&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
:root{
  --main-font:'Montserrat', sans-serif;/* для навигации/заголовков */
  --secondary-font:'Bad Script';/* рукописный */
  --body-font:'Roboto', sans-serif;;/* для заполения информацией */
}

input:focus::-webkit-input-placeholder { color:transparent; } /*USE IT EVERYWHERE!!!*/
input:focus:-moz-placeholder { color:transparent; }           /*USE IT EVERYWHERE!!!*/
input:focus::-moz-placeholder { color:transparent; }          /*USE IT EVERYWHERE!!!*/
input:focus:-ms-input-placeholder { color:transparent; }      /*USE IT EVERYWHERE!!!*/
textarea:focus::-webkit-input-placeholder { color:transparent; } /*USE IT EVERYWHERE!!!*/
textarea:focus:-moz-placeholder { color:transparent; }           /*USE IT EVERYWHERE!!!*/
textarea:focus::-moz-placeholder { color:transparent; }          /*USE IT EVERYWHERE!!!*/
textarea:focus:-ms-input-placeholder { color:transparent; }      /*USE IT EVERYWHERE!!!*/
.main{
  height: 100vh;
  background-color: #466FD5;
  display: flex;
  justify-content: center;
}
.main__window{
  border-radius: 20px;
  margin-top: auto;
  margin-bottom: auto;
  background-color: rgb(255, 255, 255);
  height: 60%;
  min-width: 50%;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.main__content{
  width: 100%;
  height: 100%;
}
.content__form{
  align-items: center;
  display: inherit;
  height: 20%;
  width: 100%;
}
.form__inputBar{
  font-family: var(--body-font);
  margin-top: 1%;
  transition: 0.5s;
  padding: 5px;
  border: 1px solid #6C8AD5;
  outline: none;
  min-width: 28%;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.form__inputBar:active,
.form__inputBar:focus{
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.form__button{
  transition: 0.5s;
  font-family: var(--body-font);
  cursor: pointer;
  width: 100px;
  margin: 20px;
  color: gray;
  outline:none;
  background-color: white;
  border: 1px solid #6C8AD5;
  border-radius: 8px;
  padding: 5px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.form__button:hover,
.form__button:focus{
  transform: scale(1.1);
  border: 1px solid #5268a0;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.weatherInfoTab{
  height: 80%;
  width: 100%;
}